<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Repeat Counter</title>
    </head>
    <body>
        <h1>Repeat Counter</h1>
        <p>Count the number of times a word appears in a string of text:</p>
        <form action='/results' method='post'>
            <label for='entered-word'>Enter a word:</label><br>
            <input type="text" id='entered-word' name='entered-word'>
            <br><br>

            <label for='entered-string'>Enter a string to search through:</label><br>
            <input type='text' id='entered-string' name='entered-string'>
            <br><br>

            <button type="submit">Count!</button>
        </form>
    </body>
</html>
