<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Repeat Counter</title>
    </head>
    <body>
        <h1>Repeat Counter</h1>
        <p>Your word appears <span id='repeat-number'>{{ repeat_number }}</span> time(s) in your text.</p>

    </body>
</html>
